// hero
.btn--hero {
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px var(--dark-shadow);
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--light-blue);
    padding: 10px 32px;
    min-width: 216px;
    margin: 0 auto;
    border: none;

    @media screen and (max-width: 480px) {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 10px 24px;
        width: 200px;
        height: 50px;
    }
}
// pop-up form
.btn--modal-form {
    justify-content: center;
    margin-bottom: 0;
    margin-left: 124px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--light-blue);
    box-shadow: 0px 4px 4px var(--dark-shadow);
    border-radius: 4px;
    padding: 10px 52px;
    border: none;
    transition: background-color var(--time) var(--time-effect), color var(--time) var(--time-effect);
    
    &:hover,&:focus {
        background-color: var(--light-blue-select);
        color: var(--white-color);
        box-shadow: 0px 4px 4px var(--dark-shadow);
        border-radius: 4px;
    }
}
// subscription form
.btn--subs-form {
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--light-blue);
    box-shadow: 0px 4px 4px var(--dark-shadow);
    border-radius: 4px;
    border: none;
}
// button list
.btn--link-filter {
    font-family: var(--font-roboto);        
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--dark-gray);
    padding: 6px 22px;
    background: var(--bgnd-light-gray);
    border-radius: 4px;
    border: none;
    transition: color var(--time) var(--time-effect), background-color var(--time) var(--time-effect);

    &:hover,&:focus {
        background-color: var(--selection-color);    
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}