@import './header';
@import './logo';
@import './pop-up-menu';
@import './navigation';
@import './contact-list';
@import './hero';
@import './buttons';
@import './description';
@import './occupation';
@import './team';
@import './members';
@import './socials';
@import './customers';
@import './footer';
@import './subs-form';
@import './pop-up';
@import './modal';
@import './modal-form';
@import './button-list';
@import './project-list';