// .contact-list {
//     display: flex;
//     margin-left: auto;
//     gap: 30px;

//     @media screen and (max-width: 767px) {
//         display: none;
//     }

//     &__link {    
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1429;
//     letter-spacing: 0.02em;
//     color: var(--light-gray);
//     margin-left: auto;
//     display: flex;
//     align-items: center;
//     fill: currentColor;
//     transition: color var(--time) var(--time-effect);

//         &:hover,
//         &:focus {
//         color: var(--selection-color);
//         fill: currentColor;
//         }
//     }

//     &__icon {
//     margin-right: 10px;
//     }
// }

.contact-list {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 21px;
        right: 15px;
    }
        
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        gap: 30px;
    }

    &__link {    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.02em;
    color: var(--light-gray);
    margin-left: auto;
    display: flex;
    align-items: center;
    fill: currentColor;
    transition: color var(--time) var(--time-effect);

    @media screen and (min-width: 1200px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1429;
    }

        &:hover,
        &:focus {
        color: var(--selection-color);
        fill: currentColor;
        }
    }

    &__icon-envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }
    }

    &__icon-tel {
    margin-right: 8px;
    width: 10px;
    height: 14px;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 10px;
        height: 16px;
    }
    }
}