// .description {
//     background-color: var(--white-color);

//     &__list {
//     display: flex;
//     }

//     &__item {
//         width: 270px;

//         &:not(:last-child) {
//         margin-right: 30px;
//         }
//     }

//     &__icon-style {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//     background: var(--bgnd-light-gray);
//     border-radius: 4px;
//     fill: var(--dark-gray);
//     }

//     &__title {
//     color: var(--dark-gray);
//     margin-bottom: 10px;
//     }

//     &__text {    
//     font-size: 14px;
//     line-height: 1.7143;
//     letter-spacing: 0.03em;
//     }
// }

.description {
    background-color: var(--white-color);

    &__list {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            gap: 30px;
            // 
            flex-direction: column;
            align-items: center;
            
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &__item {
        max-width: 450px;

        @media screen and (max-width: 767px) {
            justify-content: center;
            
            &:not(:first-child) {
                margin-top: 30px;
            }
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            flex-basis: calc((100%-30px)/2);
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            
                &:not(:last-child) {
                    margin-right: 30px;
                }
        }
    }

    &__icon-style {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
        background: var(--bgnd-light-gray);
        border-radius: 4px;
        fill: var(--dark-gray);

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 120px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }
    }

    &__title {
        color: var(--dark-gray);
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.7143;
        letter-spacing: 0.03em;

        // @media screen and (max-width: 767px) {
        //     margin-bottom: 30px;
        // }
    }
}