// .header {
//     border-bottom: 1px solid var(--white-bord);
//     background-color: var(--white-color);

//     @media screen and (max-width: 767px) {
//         position: relative;
//     }
    
//     &__container {
//             display: flex;
//             align-items: center;
//         }

//     &__logo {
//         margin-right: 92px;

//         @media screen and (max-width: 767px) {
//             margin-right: auto;
//         }
//     }
    
//     &__logo span {
//         color: var(--logo-black);
//     }
// }

.header {
    border-bottom: 1px solid var(--white-bord);
    background-color: var(--white-color);

    @media screen and (max-width: 767px) {
        position: relative;
    }
    
    &__container {
            display: flex;
            align-items: center;
        }

    &__logo {
        margin-right: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 15px;

        @media screen and (min-width: 768px) {
            margin-right: 87px;
            // padding-left: 15px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }
    
    &__logo span {
        color: var(--logo-black);
    }
}