.header {
    border-bottom: 1px solid var(--white-bord);
    background-color: var(--white-color);

    @media screen and (max-width: 480px) {
        position: relative;
    }
    
    &__container {
            display: flex;
            align-items: center;
        }

    &__logo {
        margin-right: 93px;

        @media screen and (max-width: 480px) {
            margin-right: auto;
        }
    }
    
    &__logo span {
        color: var(--logo-black);
    }
}