.hero {
    background-color: var(--bgnd-gray);
    max-width: 1600px;
    margin: 0 auto;

    @media screen and (max-width: 480px) {
        display: flex;
        justify-content: center;
    }

    &--container {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, var(--bgnd-gray-main), var(--bgnd-gray-main)), url(../img/bgnd-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 1600px;
    height: 600px;

    @media screen and (max-width: 480px) {
        padding-top: 118px;
        padding-bottom: 118px;
        height: 400px;
        background-image: linear-gradient(to right, var(--bgnd-gray-main), var(--bgnd-gray-main)), url(../img/bgnd-head-mobile.jpg);
        }
    }

    &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 480px) {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6154;
        max-width: 360px;
        }
    }

}
