.hero {
    display: flex;
    justify-content: center;
    background-color: var(--bgnd-gray);
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
    }

    &--container {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    background-image: linear-gradient(to right, var(--bgnd-gray-main), var(--bgnd-gray-main)), url(../img/bgnd-head-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, var(--bgnd-gray-main), var(--bgnd-gray-main)),
            url(../img/bgnd-head-768.jpg);
        }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, var(--bgnd-gray-main), var(--bgnd-gray-main)), url(../img/bgnd-head-1600.jpg);
        max-width: 1600px;
        height: 600px;
        }
    }

    &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6154;
    max-width: 360px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
        }
    }
}
