.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    &__btn {
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        padding: 0;
        fill: var(--black-color);
        transition: fill var(--time) var(--time-effect);

        &:hover,&:focus {
            fill: var(--selection-color);
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
    }
}