.occupation {
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-bottom: 94px;
    }

    &__title {
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    }

    &__list {
    display: flex;
    text-align: center;
    width: 1170px;
    margin-right: -30px;
    }

    &__item {
    margin-right: 30px;
    position: relative;
        
        &:last-child {
        margin-right: 0;
        }
    }

    &__text {
    text-align: center;
    width: 100%;
    height: 70px;
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    }
}




