.popup-menu {
    // display: flex;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    z-index: 999;

    &__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: translateX(100%);
        transition: transform var(--time) var(--time-effect);
    }

    &__btn {
        justify-content: center;
        position: absolute;
        top: 30px;
        right: 35px;
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        background-color: transparent;
        padding: 0;
        fill: var(--dark-gray);
        transition: fill var(--time) var(--time-effect);
        
        &:hover,
        &:focus {
            fill: var(--selection-color);
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
    }
}