.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        background: var(--white-color);
        border: 1px solid var(--white-bord-menu);
        max-width: 450px;
        transition: box-shadow var(--time) var(--time-effect);

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 354px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 370px;
        }
    }

    &__name {
        // padding-left: 24px;
        // padding-top: 20px;
        // padding-bottom: 20px;
        padding: 20px 24px;
    }

    &__title {    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--dark-gray);
    }

    &__link {
        display: block;
        text-decoration: none;

        &:hover,&:focus {
            background: var(--white-color);
            // border: 1px solid var(--white-bord-menu);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:hover .project__wrap-text,
        &:focus .project__wrap-text {
            transform: translateY(0%);
        }
    }

    &__wrap {
        position: relative;
        overflow: hidden;
    }

    &__text {
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: var(--dark-gray);
    }

    &__wrap-text {
        font-size: 18px;
        line-height: 1.5556;
        letter-spacing: 0.03em;
        color: var(--white-color);
        background-color: var(--bgnd-light-blue);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        overflow: hidden;
        transform: translateY(101%);
        transition: transform var(--time) var(--time-effect);
    }
}