.subs-form {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        gap: 12px;
    }

    &__label {
        display: flex;
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
    }

    &__input {
        height: 50px;
        border: 1px solid var(--light-gray-bord);
        filter: drop-shadow(0px 4px 4px var(--dark-shadow));
        border-radius: 4px;
        background-color: var(--bgnd-gray);
        padding: 15px 16px;

        @media screen and (min-width: 480px) {
            // min-width: 320px;
            width: 450px;
        }

        @media screen and (min-width: 768px) {
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
            height: 50px;
            border: 1px solid var(--light-gray-bord);
            filter: drop-shadow(0px 4px 4px var(--dark-shadow));
            border-radius: 4px;
            background-color: var(--bgnd-gray);
            padding: 15px 16px;
            resize: none;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}