.btn {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 480px) {
        max-width: 480px;
    }

    @media screen and (max-width: 768px) {
        max-width: 768px;
    }
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-gray);
}

.title-uppercase {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

#subscribe-form {
    color: var(--light-gray);
}